################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/DataAccess/bin
/TaskUser/obj
/TaskMaster.AvaloniaUI/bin
/TaskMaster.AvaloniaUI/obj
/DataAccess/obj
